body {
    background-color: #ea4141; /* Light gray for a soft feel */
    color: #333; /* Dark text for contrast */
}
.webpageTitle{
    background-color: lightblue;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
.lol {
    background-color: lightblue;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}